body{
    font-family: Arial,  sans-serif;
    background: #c2def0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.container{

    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

input{
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

button{

    width: 50%;
    padding: 8px;
    background: teal;
    color: white;
    border: none;
    cursor: pointer;
    display: block;

    margin: 8px auto;
    
}

button:hover{

    background: darkcyan;
}

ul {
    list-style: none;
    padding: 0;
}

li {
  background: #eee;
padding: 8px; 
margin-top: 5px;
display: flex;
justify-content: space-between;
}